
#stockListDiv{
    padding: 0;
    width: 350px;
    height: 100vh;
    border: 5px solid rgba(179, 179, 179, 0.383);   
}
#stockList{
    height: 100%;
    overflow-y: auto;
}
#findStockForm{
    margin: 0;
    height: 86px;
    border-bottom: 2px solid rgba(179, 179, 179, 0.383);
  
}
#findStockForm input{
    font-family: "Russo One";
    color: black;
    
    -moz-box-shadow:    inset 0 0 20px rgba(179, 179, 179, 0.5);
    -webkit-box-shadow: inset 0 0 20px rgba(179, 179, 179, 0.5);
    box-shadow:         inset 0 0 20px rgba(179, 179, 179, 0.5);
}